.index-bg{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


.Background{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background:#09101b;
}

.back-video{
    position: fixed;
    width: 100%;
    z-index: -1;
}

@media(max-width:1024px){
    .back-video{
        width: auto;
    }
}

/* Nav Bar logo name */


.container{
    width: 100%;
    height: 100px;
    margin: auto;
}

.Logo-group{
    position: absolute;
    display: inline-block;
}

.nav-bar{
    width: 100%;
    margin: auto;
}

.logo-name-1,.logo-name-2{
    display: inline-block;
    padding: 20px 0;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bolder;
}

.logo-name-2{
    color: orange;
}


/* Nav Bar link Group */

.container ul li{
    display: inline-block;
    width: 100px;
    height: 40px;
    margin-top: 30px;
    text-align: center;
}

.container ul{
    float: right;
}

.container ul li a{
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-size: 18px;
    text-transform: uppercase;
}

.container ul li a::after{
    content: '';
    position: relative;
    bottom: 10px;
    display: inline-block;
    width: 80%;
    height: 3px;
    background-color: #fff;
    transform: scale(0,1);
    transition: transform 0.3s ease;
}


/* Home page  Nav Bar link Change to Hamburger menu when 767px */

@media(max-width:767px){
    .container ul{
        display: none;
    }

}



/* Nav Bar link Group : Hover  */


.container ul li a:hover{
    color: orange;
    letter-spacing: 3px;
}


.container ul li a:hover::after{
    transform: scale(1,1);
}


/* Index Page Body Section */


.explore{
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

.explore a{
    text-decoration: none;
    font-size: 24px;
    margin-top: 8px;
    width: 200px;
    height: 60px;
    margin: auto;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    gap: 10px;
    color: #000;
    letter-spacing: 0.2rem;
    font-weight: 500;
    text-transform: uppercase;
}


/* EXPLORE BUTTOM BEFORE & AFTER */

.explore a::before{
    content: '';
    display: inline-block;
    position: absolute;
    border-radius: 20px;
    width: 200px;
    height: 60px;
    background: #ff884d;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}

.explore a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}

.explore a span{
    display: inline-block;
    z-index: 2;
    transition: 0.5s ease-in-out;
}

.explore a span:hover{
    color: #333;
}

.explore a i{
    position: relative;
    display: inline-block;
    width: 2px;
    height: 30px;
    background: #000;
    transition: 0.5s, width 0.5s , height 0.5s;
    transition-delay: 0s,0.5s, 1s;
}

.explore a:hover i{
    width: 30px;
    height: 2px;
    background: #333;
    transition-delay: 0s, 1s, 0.5s;
}

.explore a i::before{
    content: '';
    position: absolute;
    top: 0.5px;
    right: 0;
    width: 50%;
    height: 2px;
    background: transparent;
    transform-origin: right;
    rotate: 0;
    transition: 1s;
}


.explore a:hover i::before{
    background: #333;
    rotate: 45deg;
    transition-delay: 1s;
}


.explore a i::after{
    content: '';
    position: absolute;
    top: -0.5px;
    right: 0;
    width: 50%;
    height: 2px;
    background: transparent;
    transform-origin: right;
    rotate: 0;
    transition: 1s;
}


.explore a:hover i::after{
    background: #333;
    rotate: -45deg;
    transition-delay: 1s;
}

@media(max-width:767px){
    .explore{
        margin-top: 30%;
    }
}



/* Home Page Body Section  */


.slide{
    width: 90%;
    margin: auto;
}

.d-block{
    border-radius: 10px;
}


/* Home Product 1 & 2 Under of Slide  */


.product-Header{
    margin-top: 20px;
    text-align: center;
    color: #fff;
    text-decoration: underline;
}

.home-product-1,.home-product-2{
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.product-1-img img,.product-2-img img{
    width: 80%;
    border-radius: 10px;
}

.product-2-img img{
    float: right;
}

.product-1-text,.product-2-text{
    height: 300px;
    margin: auto;
}

.product-2-text{
    text-align: end;
}


/* Home Product 1 & 2 Responsive size */


@media(max-width:767px){
    .product-Header{
        margin-bottom: -20px;
    }

    .home-product-1,.home-product-2{
        display: block;
        padding: 0;
    }

    .home-product-2{
        padding-bottom: 20px;
    }

    .product-1-img,.product-2-img{
        display: flex;
        justify-content: center;

    }

    .product-1-text,.product-2-text{
        height: 250px;
        margin-top: 20px;
        text-align: center;
        margin-bottom: -25px;
    }
}


/* footer Section  */

footer{
    background: #000;
    width: 100%;
    height: 170px;
}

footer ul{
    height: 80px;
    margin: 0;
    padding: 0;
    margin: auto;
    display: flex;
    justify-content: center;
}

footer ul li{
    width: 60px;
    display: inline-block;
    text-align: center;
    margin: 25px 30px;
}

footer ul li a{
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-size: 18px;
    text-transform: uppercase;
}

/* Drop Up Slide  */

.dropup{
    display: none;
    z-index: 2;
}

.btn{
    width: 100%;
    height: 65px;
    z-index: 3;
}

.dropdown-menu{
    width: 100%;
    height: 180px;
    z-index: -1;
    transform: translateY(100%);
    transition: 0.5s;
    padding: 0;
}


.dropdown-menu li{
    display: block;
    width: 100%;
    margin: 5px auto;
}

.dropdown-menu li a{
    text-decoration: underline;
}


/* Footer Icon  */


.footer-icon{
    display: inline-block;
    display: flex;
    justify-content: center;
}

.footer-icon a{
    text-decoration: none;
    color: #fff;
    width: 60px;
    height: 60px;
    display: inline-block;
    text-align: center;
    border: 1px solid white;
    padding: 12px 0;
    border-radius: 50px;
    margin: 0 30px;
}


/* Footer Hover  */


footer ul li a:hover,.footer-icon a:hover{
    color: darkgrey;
}


/* Footer Responsive Size */

@media(max-width:767px) {
    footer ul,.footer-icon{
        display: none;
    }

    footer{
        width: 100%;
        height: 60px;
        position: fixed;
        bottom: 0;
    }

    .dropup{
        display: block;
    }
}